@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */
a {
    padding-bottom: .1rem;
    border-bottom: solid;
    border-bottom-color: #ee9b27;
    ;
    
    
}
blockquote {
    font-family: 'Sometimes Times BETA';
    font-weight: 400;
    line-height: 1.6em;
    font-size: 2rem;
    font-style: italic;
    margin: 3.2rem 0 1.5rem 0;
    border-left: 0.25rem solid #ee9b27;
    border-left-color: rgb(238, 155, 39);
    border-left-style: solid;
    border-left-width: 0.25rem;
    padding: 0 1.6 0 2em;
  }
  p {
      line-height: 1.625rem;
  }

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
